body {
    font-family: Helvetica, sans-serif;
}

html p, body p {
    line-height: 1;
}

#popup {
    min-width: 500px;
    width: 500px;
    min-height: 10px;
    height: 400px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.negrita {
    font-weight: bold;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.enlace {
    cursor: pointer;
    color: #304FFE;
}

.ptop10 {
    padding-top: 10px;
}

.lrpad10 {
    padding-left: 10px;
    padding-right: 10px;
}

.fixed {
    position: fixed;
}

.fixed.bottom-right {
    right: 0;
    bottom: 0;
}

.transparent {
    background-color: transparent !important;
}

.footer-spacing {
    margin-bottom: 100px;
}

.header-spacing {
    padding-top: 66px;
}

.overflowed-list {
    overflow: hidden;
    overflow-y: scroll;
    height: 600px;
    position: relative;
}

.md-subheader.md-primary.custom {
    background-color: #7986CB;
    color: #FFFFFF;
    margin-right: 2px;
    font-weight: bold;
    font-size: 1.3em;
}

.md-subheader.md-primary.custom.md-sticky-clone {
    top: 68px;
    width: 477px;
}

.item-hover {
    cursor: pointer;
    background-color: #E8EAF6;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.item-no-hover {
    cursor: default;
    background-color: transparent;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

md-toolbar.custom {
    width: 477px;
}

md-progress-circular.center {
    margin: 30px auto;
}

.destacado {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #BC9EFF;
}

.destacado.center {
    justify-content: center;
}

.destacado h3 {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.md-card-content p {
    margin: 0;
}

.metainfo {
    margin-left: 1em;
    margin-right: 1em;
}

.metainfo p {
    margin-left: 1.5em;
}

.md-tile-content {
    padding: 8px;
}

md-card md-card-content {
    padding: 10px;
}

md-switch .md-label {
    user-select: none;
    -webkit-user-select: none;
}

md-switch:focus .md-label:not(:empty) {
    border-style: none !important;
}

.serie-enabled {
    height: 40px;
    padding-left: 20px;
    background-color: #A5D6A7;
}

.serie-disabled {
    height: 40px;
    padding-left: 20px;
    background-color: #EF9A9A;
}

md-dialog p {
    line-height: 1.5;
    text-align: justify;
}

.md-button.minimal {
    padding: 0;
    font-weight: bold;
}

md-backdrop.md-opaque.md-default-theme, .md-dialog-container {
    position: fixed;
}
