<md-dialog>
    <md-content>
        <h2>Errores al descargar torrents</h2>

        <ul>
            <li ng-repeat="torrent in errores">
                <p>
                    {{torrent}}
                    <md-button ng-click="openLink(torrent)" class="md-accent" aria-label="">Abrir</md-button>
                    <md-button ng-click="deleteError(torrent)" class="md-warn" aria-label="">Eliminar</md-button>
                </p>
            </li>
        </ul>

    </md-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="downloadErrorTorrents()" class="md-primary md-button md-raised" aria-label="">Intentar
            descargar de
            nuevo
        </md-button>
        <md-button aria-label="" ng-click="hide()">
            Cerrar
        </md-button>
    </div>
</md-dialog>