<div layout="column" layout-fill>

    <md-toolbar class="fixed custom">
        <div layout="row">
            <md-button ng-click="goto('main')" aria-label="">
                <md-icon icon="images/ic_arrow_back_white_24dp.png" style="width: 24px; height: 24px;"></md-icon>
            </md-button>
            <h2 class="md-toolbar-tools">
                <span class="negrita">Lista de películas</span>
            </h2>
        </div>
    </md-toolbar>

    <md-content class="overflowed-list header-spacing">
        <div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
            <md-progress-circular class="md-primary center" md-mode="indeterminate"></md-progress-circular>
        </div>

        <section ng-repeat="category in movies" ng-hide="loading">
            <md-subheader class="md-primary custom">{{category.title}}</md-subheader>
            
            <md-card ng-repeat="peli in category.elements">
                <div class="destacado">
                    <h3>{{peli.title}}</h3>
                </div>
                <md-card-content>
                    <div layout="row">
                        <div flex>Idioma: {{peli.language}}</div>
                        <div flex>Tamaño: {{peli.size}} [{{peli.format}}]</div>
                    </div>
                    <p class="right">                        
                        <md-button ng-click="download(capi.id)" aria-label="">Torrent</md-button>
                    </p>
                </md-card-content>
            </md-card>
        </section>
    </md-content>

</div>